#app {
    width: 90vw;
    height: 90vh;
}

#target {
    background: transparent;
    border: 2px black solid;
    position: absolute;
    top: 20px;
    left: 100px;
}

DIV.section {
    width: 50%;
    height: 50%;
    float: left;
}

P#timer {
    font-size: xx-large;
    color: red;
}

.floatLeft {
    float: left;
}

IMG.cursor {
    width: 10px;
}

.hidden {
    visibility: hidden;
}

.red {
    background: #ff9686;
}

.green {
    background: darkcyan;
}

.blue {
    background: cornflowerblue;
}

.yellow {
    background: darkkhaki;
}

#gameArea {
    width: 90%;
    height: 100%;
    background: antiquewhite;
}
